* {
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  border: 0px;
  bottom: 0px;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #deffde;
}

.custom-canvas {
  width: 50%;
  height: auto;
  padding: 30px;
  background-color: #fff;
  margin: 20px auto;
  box-shadow: 5px 15px 15px 10px rgba(140, 140, 140, 0.3);
  border-radius: 15px;
}

.btn {
  display: inline-block;
  padding: 5px;
  height: 40px;
  width: 140px;
  margin-top: 25px;
  background: #2359d6;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: #234563;
}

.btn:active {
  background-color: #192f42;
}

.game-area {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: #fff;
  margin: 0 auto;
}

.cross {
  background-image: url('../images/CrossTransparent.png');
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #34b3a0;
}

.ring {
  background-image: url('../images/LastRingShape.png');
  width: 24px;
  background-size: cover;
  background-color: #e42727;
  height: 24px;
}

.turn-container {
  width: 170px;
  float: right;
  padding: 5px;
}

.standart-turn {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Arial";
  border-radius: 100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.cross-turn {
  background-color: #34b3a0;
  float: left;
}

.ring-turn {
  float: right;
  background-color: #e42727;
}

.win-block {
  display: none;
  position: absolute;
  height: 300px;
  width: 550px;
  margin: auto;
  font-family: "Arial";
  text-align: center;
  line-height: 460px;
  border-radius: 20px;
  background-color: #34b3a0;
  color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
  font-size: 40px;
}

.foreground {
  background-color: #fefefe;
  opacity: 0.7;
  position: absolute;
  display: none;
}

.small_logo {
  background-image: url('../images/white_logo_xo.png');
  width: 50px;
  height: 50px;
}

.opacity-animational {
  -webkit-animation: fadein 1.3s infinite;
  animation: fadein 1.3s infinite;
}

@keyframes fadein {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 0.6;
  }

  20% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.8;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  70% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.7;
  }

  90% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 0.6;
  }

  20% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.8;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  70% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.7;
  }

  90% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.5;
  }
}
